
<h1>What is an Emotion?</h1>

<section class="about">

    <a class="emotion-tag" href="https://www.dictionary.com/browse/admiration?s=t" target="blank"><h3>Admiration</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/adoration?s=t" target="blank"><h3>Adoration</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/aesthetic?s=t" target="blank"><h3>Aesthetic Appreciation</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/amusement?s=t" target="blank"><h3>Amusement</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/anxiety?s=t" target="blank"><h3>Anxiety</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/awe?s=t" target="blank"><h3>Awe</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/awkwardness?s=t" target="blank"><h3>Awkwardness</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/boredom?s=t" target="blank"><h3>Boredom</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/calmness?s=t" target="blank"><h3>Calmness</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/confusion?s=t" target="blank"><h3>Confusion</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/craving?s=t" target="blank"><h3>Craving</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/disgust?s=t" target="blank"><h3>Disgust</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/empathetic?s=t" target="blank"><h3>Empathetic Pain</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/entrancement?s=t" target="blank"><h3>Entrancement</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/envy?s=t" target="blank"><h3>Envy</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/excitement?s=t" target="blank"><h3>Excitement</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/fear?s=t" target="blank"><h3>Fear</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/horror?s=t" target="blank"><h3>Horror</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/interest?s=t" target="blank"><h3>Interest</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/joy?s=t" target="blank"><h3>Joy</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/nostalgia?s=t" target="blank"><h3>Nostalgia</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/romance?s=t" target="blank"><h3>Romance</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/sadness?s=t" target="blank"><h3>Sadness</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/satisfaction?s=t" target="blank"><h3>Satisfaction</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/sexual?s=t" target="blank"><h3>Sexual Desire</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/sympathy?s=t" target="blank"><h3>Sympathy</h3></a>
    <a class="emotion-tag" href="https://www.dictionary.com/browse/triumph?s=t" target="blank"><h3>Triumph</h3></a>
    
</section>























