<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Emotions Tracker</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <ul class="nav">
      <a href="/">Home</a>
      <a href="/mymoods">My Moods</a>
      <a href="/mood/new">Post Mood</a>
      <a href="/login">Log In</a>
      <a href="/signup">Sign Up</a>
      <a href="/session">Log Out</a>
      <a href="/about">About</a>
  </ul>

  <%= yield %>

  <footer>&copy iFeel 2020</footer>

</body>
</html>