<h1>Log In</h1>

<div class="form">
    <form action="/login" method="post">
        <div>
            <label for="">Email</label><br>
            <input placeholder="Your Email" type="text" name="email">
        </div>
        <div>
            <label for="">Password</label><br>
            <input placeholder="Your Password" type="password" name="password">
        </div>
        <div>
            <button>Log In</button>
        </div>
    </form>
</div>