
<h1>Sign Up for Free</h1>

<div class="form">
    <form action="/signup" method="post">
        <div>
            <label for="">Name</label><br>
            <input placeholder="Your Name" type="text" name="name">
        </div>
        <div>
            <label for="">DOB</label><br>
            <input type="date" name="dob">
        </div>
        <div>
            <label for="">Gender</label><br>
            <input placeholder="Gender" type="text" name="sex">
        </div>
        <div>
            <label for="">Origin</label><br>
            <input placeholder="Place of Residence" type="text" name="origin">
        </div>
        <div>
            <label for="">Email</label><br>
            <input placeholder="Your Email" type="text" name="email">
        </div>
        <div>
            <label for="">Password</label><br>
            <input placeholder="Your Password" type="password" name="password">
        </div>
        <div class="button">
            <button>Sign Up</button>
        </div>
    </form>
</div>